<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/public/plugins/jquery-3.1.1.min.js"></script>
        <link href="/public/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <script src="/public/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="/public/plugins/moment-with-locales.js"></script>

        <script src="/public/config.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Configurações da Câmera</h3>
                </div>
            </div>
            <div class="row" id="content">

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-success pull-right save">
                        Salvar
                    </button>
                </div>
            </div>
            <br />
        </div>
    </body>
</html>